doctype

html(lang='en')
  head
    block meta 
      title=__('meta.titles.home')

    block javascript

      script.
        window.Laravel = {csrfToken: '#{csrf_token()}'}; 

    block links
      link(rel='stylesheet',href=mix('/css/vendor.css'),type='text/css',media='all')
      link(rel='stylesheet',href=mix('/css/main.css'),type='text/css',media='all')

    block content

    script(src=mix('/javascript/manifest.js'))
    script(src=mix('/javascript/vendor.js'))
    script(src=mix('/javascript/app.js'))

