each client in self.clients
  .client.item
    .checkbox
      input(type="checkbox",data-_id=client._id)
    a.name(href='/clients/' + client._id)=client.name
    .details
      .detail.created created 
        time.value(title=client.created_at)
          include ../../vector/time.svg
        |,
      .detail.updated updated 
        time.value(title=client.updated_at)
          include ../../vector/time.svg
        |,
      .detail
        .value #{client.users.length}
        |  collaborators,
      .detail
        .value #{client.structures.length}
        |  structures,
      .detail
        .value #{client.entries.length}
        |  entries,
    .clear
