each client in self.clients
  .client.item
    a.name(href='/clients/' + client._id)=client.name
    .created created 
      time(title=client.created_at)
        include ../../vector/time.svg
      |,
    .updated updated 
      time(title=client.updated_at)
        include ../../vector/time.svg
      |,
    .detail #{client.users.length} collaborators,
    .detail #{client.structures.length} structures,
    .detail #{client.entries.length} entries
