.items
  each entry in self.entries
    .entry.item

      //a.link.jsonp.ctab.hint--top(
        aria-label="Endpoint",
        href="/api/entries?_id=" + entry._id,
        target="_new") {&nbsp;&nbsp;}
      .picture.author.hint--top(
        aria-label="Author is "+entry.user.name,
        style="background-image: url('" + entry.user.picture + "');"
      )
      if entry.client.profile
        .picture.client.hint--top(
          aria-label="Client is " + entry.client.name,
          style="background-image: url('" + entry.client.profile + "');"
        )

      .checkbox
        input(type="checkbox",data-_id=entry._id)
      a.name(href='/entries/' + entry._id)=entry.name
      .details
        .detail.created created 
          time.hint--top.value(title=entry.created_at)
            include ../../vector/time.svg
          |,
        .detail.updated updated 
          time.hint--top.value(title=entry.updated_at)
            include ../../vector/time.svg

        .detail.structure uses the  
          a.value(href='/structures/' + entry.structure.id) #{entry.structure.name} 
          |  structure
      .clear

include paginate
