each item in self.items
  .value
    if item.profile
      img.profile(src=item.profile)
    if item.client && item.client.profile
      img.profile(src=item.client.profile)
    if item.profile
      .count=item.structures.length
    else
      .count=item.entries.length
    .name=item.name
