each structure in self.structures
  .structure.item
    a.name(href='/structures/' + structure._id)=structure.name
    .created created 
      time(title=structure.created_at)
        include ../../vector/time.svg
      |,
    .updated updated 
      time(title=structure.updated_at)
        include ../../vector/time.svg
    .entities.detail
      each entity in structure.entities
        .entity #{entity.name}
          span.type(class=entity.type)=entity.type
