each structure in self.structures
  a.structure.item(href='/structures/' + structure._id)
    .name=structure.name
    .created created 
      time(title=structure.created_at)
        include ../../vector/time.svg
    .updated updated 
      time(title=structure.updated_at)
        include ../../vector/time.svg
    .entities.detail
      each entity in structure.entities
        .entity #{entity.name}
          span.type(class=entity.type)=entity.type
