each user in self.users
  .user(class="user_"+user._id)
    .profile
      img(src=user.picture)
    .name=user.name
    .details
      .detail
        .label email
        .value=user.email
      .detail
        .label provider
        .value=user.provider
      .detail
        .label created
        .value
          time(title=user.created_at)
            include ../../vector/time.svg
      .detail.detail_updated
        .label updated
        .value
          time(title=user.updated_at)
            include ../../vector/time.svg

      .detail
        .label admin
        .value.toggle
          input(
            type="checkbox",
            name="admin",
            checked=(user.admin ? true : false),
            data-field='admin',
            data-_id=user._id)
