
extends ../extends/layout

block content
  .guide

    .sections

      .gsection.gcolors
        .title Colors
        each color, name in self.config.color
          .color(class='color_'+name) #{name} (#{color})

      .gsection.fonts
        .title Fonts
        each atts, name in self.config.font
          .font(class="font_"+name) #{name} #{atts['font-family']}
          each value, att in atts
            .detail #{att}: <b>#{value}</b>

      .clear
